body {
	font-size: 16px;
}

section {
	margin-bottom: 24px;
}

section:last-child {
	margin-bottom: 16px;
}

section > section {
	margin-top: 8px;
	margin-left: 16px;
}

.child-section {
	display: none;
}

label {
	display: inline-block;
	width: calc(100% - 38px);
	vertical-align: top;
}
